[Unit]
Description=Daemon for exposing a Room Alert via Pyro.
After=syslog.target
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Type=simple
ExecStart=/usr/bin/env python3.6 -u /usr/bin/roomalertd /etc/roomalertd/%i.json
ExecStartPost=/usr/bin/env python3.6 -u /usr/bin/obslog info %i_roomalertd Started by systemd
ExecStopPost=/usr/bin/env python3.6 -u /usr/bin/obslog info %i_roomalertd Stopped by systemd
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
